#featured{ 
	width:250px;
	padding-right:250px; 
	position:relative; 
	border:1px solid #ccc;
	height:270px;
	background:#fff;
}
#featured ul.ui-tabs-nav{ 
	position:absolute; 
	top:1px; left:390px;
	list-style:none; 
	padding:0; margin:0; 
	width:110px;
}
#featured ul.ui-tabs-nav li{ 
	padding:1px 0;   
	font-size:12px; 
}
#featured ul.ui-tabs-nav li img{ 
	float:left;
	background:#fff; 
	padding:1px;
	border:1px solid #eee;
}
#featured ul.ui-tabs-nav li span{ 
	font-size:11px; font-family:Verdana; 
	line-height:8px; 
}
#featured li.ui-tabs-nav-item a{
	display:block;
	height:52px;
	color:#333;  background:#fff;
	line-height:20px;
        outline:none; 
}
#featured li.ui-tabs-nav-item a:hover{ 
	background:#f2f2f2; 
}
#featured li.ui-tabs-selected{ 
	background:url('../images/slider/selected-item.gif') top left repeat;
}
#featured ul.ui-tabs-nav li.ui-tabs-selected a{ 
	background:#ccc; 
}



#featured .ui-tabs-panel{ 
	width:346px; height:243px;
	position:relative;
}
#featured .ui-tabs-hide{
     display:none;
}
#featured .ui-tabs-panel img{
	width:380px;
        height:257px;
        margin-left: -15px;
        margin-top: -5px;
}

#featured .ui-tabs-panel .info{ 
	position:absolute; 
	top:170px; left:3px;
	height:93px;
	background: url('../images/slider/transparent-bg.png');
}
#featured .info h2{ 
	font-size:1em; font-family:Georgia, serif;
	color:#fff; padding:5px; margin:0;
	overflow:hidden; 
}
#featured .info p{ 
	margin:0 5px; 
	font-family:Verdana; font-size:11px; 
	line-height:15px; color:#f0f0f0;
}
#featured .info a{ 
	text-decoration:none; 
	color:#fff; 
}
#featured .info a:hover{ 
	text-decoration:underline; 
}
#featured .ui-tabs-hide{ 
	display:none; 
}